body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
}

.loader {
  display: flex;
  gap: 15px;
}

.circle {
  width: 20px;
  height: 20px;
  background: #3498db;
  border-radius: 50%;
  animation: bounce 0.6s infinite ease-in-out alternate;
}

.circle:nth-child(2) {
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  to {
    transform: translateY(-20px);
  }
}
