.team-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  padding: 20px;
  border: 1px solid #f50b0b;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  background-color: #f1f6de;
}

/* Highlight Team Lead */
.lead {
  background-color: #e0f7fa;
  border: 2px solid #00796b;
}

/* Responsive layout */
@media (max-width: 600px) {
  .team-container {
    flex-direction: column;
    align-items: center;
  }
}
