.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

button:hover {
  background-color: #1cdd23;
  color: white;
}

input:focus {
  border: 2px solid rgb(28, 28, 237);
}

button:active {
  transform: scale(0.95);
  background-color: #333;
  color: white;
}

li:nth-child(odd) {
  background-color: #dae71b;
}
