.body{
    margin:0;
    padding:0;
    font-family:sans-serif;
    display:flex;
}
.parent{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    height:90vh;
    background-color:lightgrey;
}
.card{
    height:400px;
    width:150px;
    background-color:rgb(95, 93, 93);
    padding:20px;
    justify-content: center;
    text-align:center;
    flex-grow:1;
    margin:10px;
    transition: all 0.3s ease-in-out;
}
.img{
    width:60px;
    height:60px;
    border-radius:50%;
    object-fit:cover;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.para{
    color:white;
    justify-content:center;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.title{
    color:white;
    font-size:20px;
    font-weight:bold;
}
.card:hover{
    transform:scale(1.1);
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    background-color:rgb(30, 202, 232);
}