body {
  margin: 0;
  font-family: sans-serif;
}

header, footer {
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #222;
  color: white;
  
}

header { top: 0; }
footer { bottom: 0; }

main {
  margin-top: 60px;
  margin-bottom: 60px;
}

section {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

/* Linear gradient with fixed background */
.linear {
  background: linear-gradient(to right, #ff7e5f, #99e61e);
  
}

/* Radial gradient */
.radial {
  background: radial-gradient(circle, #43cea2, #185a9d);
}
